<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Login</title>
</head>
<body style = "background-color: powderblue">
<h1 align="center">Welcome to the portal</h1>
<div>
<form action = "" method="post">
<table align = "center">
    <tr><td><label>UserName</label></td>
        <td><input name="username" type="email" placeholder="write your username"></td>
    </tr>
    <tr><td><label>Password</label></td>
        <td><input name="password" type="password" placeholder="write your password"></td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr> 
    <tr><td></td><td><input type ="submit" value="LOGIN"></td></tr>
</table>
</form>
</div>
<br><br>
<div>
<form action ="/new">
<table align="center"> 
    <tr><td><label>New User</label></td>
        <td><input value="Register", type="submit"></td>
    </tr>
</table>
</form>
</div>
{{ prediction_text }}
</body>
</html>
