<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body style = "background-color: powderblue">
<h1 align = "center">Enter your details for registration</h1>
<div>
<form method="post">
<table align="center">
    <tr><td><label>NAME</label></td>
        <td><input type="text" name="one" id="name"></td>
    </tr>
    <tr><td><label>USERNAME</label></td>
        <td><input type="email" name="two" id="username">[enter e-mail id]</td>
    </tr>
    <tr><td><label>PASSWORD</label></td>
        <td><input type="password" name="three" id="password"></td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td><input type="submit" value="Create User"></td></tr>
</table>
</form>
</div>
</body>
</html>

    